section.section_1 {
    background: #018391;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

section.section_1 a {
    color: #ffffff;
}

section.section_1 ul {
    display: flex;
}

div.st_up {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

div.up_1 {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

div.up_1 div.div_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.up_1 div.div_1 span:nth-child(1) {
    background-color: #E4572E;
    margin-right: 10px;
    font-size: 18px;
    padding: 2px 3px;
}

div.up_1 div.div_1 span:nth-child(2) ul {
    padding: 10px 15px;
    height: 30px;
    margin-right: 20px;
    overflow-x: hidden;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
}

div.up_1 div.div_1 span:nth-child(2) ul::-webkit-scrollbar {
    width: 10px;
    background-color: #07616b;
}

div.up_1 div.div_1 span:nth-child(2) ul::-webkit-scrollbar-thumb {
    background-color: #E4572E;
}

div.up_1 div.div_1 span:nth-child(2) ul a {
    margin-bottom: 15px;
}

div.up_1 div.div_2 ul a,
div.div_3 ul a {
    margin-right: 25px;
}

div.div_3 ul a {
    font-size: 25px;
}